.bg-image {
    background-size:cover;
    background-attachment: fixed;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/046/303/870/medium/caio-santos-dfgdfg.jpg?1644798826);
    background-position: center right;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

.footer-row {
    margin-top: 20rem;
}

.background-card {
    background-size: cover;
    background-attachment: fixed;
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    background: none;
}

#weapon-cards .card-img-top {
    scale: 1;
    cursor: pointer;
}